.started_btn{
    width: 100% !important;
    height: 57px;
    background-color:#F9A900 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight:400 !important;
    line-height: 22px !important;
    border-radius: 29px !important;
    border:none !important;
}
.sing_up_drp button{
    height: 57px;
    background-color: #F7F7F7;
    border-radius: 29px;
    border: none;
    padding: 0 4%;
    margin-bottom: 10px;
}
.login_btn {
    width: 48%;
    height: 57px;
    background-color:#566499 !important;
    color: #fff;
    font-size: 16px;
    font-weight:400;
    line-height: 22px;
    border-radius: 29px !important;
    border:none !important;
}

.login_btn.blue_bg {
   background-color: #2E84FC !important;
}